@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
body{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar{
    background-color: #e6dcdf;
    box-shadow: 5px 2px 3px #8888887a;
    .header__left {
        order: 1;
        .header__left--items{
            font-family: $monse;
            color: black;
            text-decoration: none;
            font-size: 20px;
        }
    }
    .header__titulo {
        order: 2;
        font-size: 50px;
        font-family: $ko;
        color: #444;
        font-weight: 700;
    }
    .header__carro {
        order: 3;
        .carro{
            cursor: pointer;
        }
    }
}


.main__row1{
    background-image: url(https://optimaxweb.glassesusa.com/image/upload/f_auto,q_auto/media/wysiwyg/hp21/winter-sale/hp-main-desktop.png);
    height: 500px;
    background-position: center;
    
    
    .main__row1--titulo{
        text-align: center;
        font-family: $monse;
        font-weight: 600;
    }
    p{
        text-align: center;
        padding: 10px 100px;
        font-family: $monse;
    }
    .row1__btn{
        width: 100px;
        text-align: center;
        margin-left: 320px;
        
    }
}

.main__row2{
    padding: 30px 0px;
    box-shadow: 5px 4px 8px #8888887a;
}

.main__row3{
    padding-top: 60px;
    background-image: url(/img/papel2.jpg);
    background-size: cover;
    height: 1000px;
    .main__row3--man{
        background-image: url(/img/men1.jpg);
        height: 900px;
        background-size: cover;
        border-radius: 20px;
        
    }
    .main__row3--woman{
        background-image: url(/img/woman3.jpg);
        height: 900px;
        background-size: cover;
        border-radius: 20px;
    }
}


.modal-container2{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: right;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

#modalMio{
    width: 500px;
    height:100%;
    background-color: whitesmoke;
}

.modal-active{
    visibility: visible;
    opacity: 1;
}
.modal-cerrar2{
   cursor: pointer;
   text-decoration: none;
}

.items-carro{
    height: 700px ;
    overflow-x: hidden; 
}

.items{
  margin: 30px;
  display: flex;
  justify-content: center;
}

.productos-impresos{
  width: 25%;
}

.custom-btn {
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: $monse;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-decoration: none;
}

.btn-15 {
    background: #446fdf;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #83E8BA;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }
  
  .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }

  .btn-6 {
  background: rgb(247,150,192);
background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

.btn-11 {
  border: none;
  background: rgb(251,33,117);
    background: linear-gradient(0deg, rgb(118, 180, 204) 0%, rgb(133, 214, 224) 100%);
    color: #444;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


  
  .cards{
      font-family: $monse;
      font-weight: 500;
      
  }
  .cards h4{
    font-family: $monse;
    font-weight: 700;
    font-size: 30px;
}
.cards:hover{
    cursor: pointer;
    transform: scale(1.20);
    transition: 0.5s;
}
.borrar-producto{
    cursor: pointer;
    padding: 7px;
}

.marcas{
    cursor: pointer;
}




.svg-inline--fa{
    height: 30px;
}

.cruz-cerrar{
    cursor: pointer;
}

.confirmacion {
    font-family: $monse;
    font-size: 18px;
    width: 300px;
    height: 50px;
    position: fixed;
    background-color: #83e8bbb2;
    color: black;
    z-index: 100;
    top: 3%;
    left: 41%;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    -webkit-animation: scale-out-center 0.4s linear 0.4s both;
    animation: scale-out-center 0.4s linear 0.4s both;
    border-radius: 10px; 
}
.confirmacion2 {
    font-family: $monse;
    font-size: 18px;
    width: 300px;
    height: 50px;
    position: fixed;
    background-color: #db5926;
    color: black;
    z-index: 100;
    top: 10%;
    left: 41%;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    -webkit-animation: scale-out-center 0.4s linear 0.4s both;
    animation: scale-out-center 0.4s linear 0.4s both;
    border-radius: 10px; 
}

.invisible{
    display: none;
}


.formulario{
    position: fixed;
    width: 50%;
    height:50%;
    background-color: #f0f0f07a;
    top: 25%;
    z-index: 1000;
}
.modal-dialog{
    width: 1200px;
    height: 550px;
    top:20%;
}
.modal{
  position: fixed;
}

.fondo{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

#modal-formulario{
  display: none;
}

#seguro{
  display: none;
  width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    justify-content: center;
}
.confirmacion-compra{
  height: 400px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: fixed;
  margin-top: 15%;
    p{
      font-size:20px;
      font-family: $monse;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
    }
    h4{
      font-size: 30px;
      font-family: $monse;
      text-align: center;
      margin-top: 20px;
    }
    .fa-circle-check{
      height: 100px;
      width: 100px;
      margin-top: 40px;
      margin-bottom: 40px;
      color: #83E8BA;
      margin-left: 42%;
    }
    
    
}
#msjError{
  display: none;
  width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    justify-content: center;
    
  .error{
    background-color: rgb(223, 63, 63);
    padding: 30px 30px;
    width: 400px;
    text-align: center;
    border-radius: 20px;
    margin-top: 15%;

  }
}

.nombreApellido{
  font-size: 20px;
}